.navbar {
  background-color: #b42734;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  color: #fef7f2;
}

.logo {
  height: 50px;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
}

.nav-btn {
  color: #fef7f2;
  text-decoration: none;
  font-weight: bold;
  transition: transform 0.3s ease;
}

.nav-btn:hover {
  transform: scale(1.1);
}